/*
  BHAG: refactor this as BEM when I come to do some proper styling.

*/

button {
	border: 1px black solid;
  margin: 2px;
}

input {
  width: 25rem;
}

#chartMunrosDiv {
  margin-bottom: 5rem;
}

