.popup {
  border: 2px black solid;
  border-radius: 4px;
  background-color: #e0e0e0;
  z-index: 200;
  padding: 10px 0 10px 0;
}

.popup__h2 {
  margin: 10px auto;
  text-align: center;
}

.popup__para {
  margin: 10px auto;
  text-align: center;
}

.popupCanvas {
  height: 100%;
  width: 100%;
  background-color: rgba(224, 224, 224, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.popup__select {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.popup__button {
  border: 3px black solid;
  padding: 4px;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
  min-width: 75px;
}
