/*
  ToDo: Add all of the <li> styling for what is currently the <ul> id'd as chartActionList

*/

.topActionsList--reOpen {
  background-color: lawngreen;
}

.topActionsList--hidden {
  display: none;
}